<!-- Begin page content -->
<main role="main" class="container">
  <h2 class="mt-4 pl-0 text-grey ml-0">LOGIN</h2>
</main>

<section class="mini-dashboard mt-4 mb-4">
  <div class="container search-box pb-4">
    <div class="row d-flex">
      <div class="text-center col-md-12">
        <mat-progress-spinner *ngIf="isLoading"
          class="text-center m-auto"
          color="warn"
          mode="indeterminate" >
        </mat-progress-spinner>
        <form autocomplete="off" class="form-signin" *ngIf="!isLoading" >
          <!-- <img class="mt-5 mb-4 rounded-circle" src="../../assets/img/mc-icon-carrot.png" alt="" width="72" height="72"> -->
          <img class="mt-5 mb-4" src="../../assets/img/carrot-gift.png" alt="" width="72" height="72">
          
          <div class="form-group">
            <input #email id="email" name="email" type="text" class="form-control here" placeholder="Email address" required="" autofocus="">
          </div>
          <div class="form-group">
            <input #password id="password" name="password" type="password" class="form-control here" placeholder="Password" required="">
          </div>
          <div class="form-group">
            <p style="color: red" >{{errMsg}}</p>
          </div>
          <mat-progress-spinner *ngIf="isLoadingLogin"
            class="text-center m-auto"
            color="warn"
            mode="indeterminate" >
          </mat-progress-spinner>
          <div *ngIf="!isLoadingLogin" >
            <button (click)="login(email.value, password.value)" class="btn btn-block btn-primary radius-5 mt-5 mb-4">Sign in</button>
            <!-- <a routerLink="/manager" class="btn btn-block btn-primary radius-5 mt-5 mb-4">Sign in</a> -->
            <button routerLink="/register" class="btn btn-block btn-link radius-5">Create account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div *ngIf="user">
  {{user}}
</div>