<!-- Begin page content -->
<main role="main" class="container mt-3">
  <div class="row d-flex">
    <div class="col-md-6">
      <h2 class="mt-4 pl-0 text-grey ml-0">EMPLOYEE DASHBOARD</h2>
    </div>
    <div class="col-md-6">
      <div class="btn-group mt-4 pull-right " role="group" aria-label="Basic example">
        <button (click)="openAchievement()" [ngClass]="{'btn-success': isAchievement, 'btn-outline-success': !isAchievement }" class="btn radius-5">Achievement</button>
        <button (click)="openBazaar()" [ngClass]="{'btn-success': isBazaar, 'btn-outline-success': !isBazaar }" class="btn radius-5">Bazaar</button>
        <button (click)="openSocial()" [ngClass]="{'btn-success': isSocial, 'btn-outline-success': !isSocial }" class="btn radius-5">Social</button>
        <button (click)="openGroup()" [ngClass]="{'btn-success': isGroup, 'btn-outline-success': !isGroup }" class="btn radius-5">Group</button>
        <button (click)="openBirthday()" [ngClass]="{'btn-success': isBirthday, 'btn-outline-success': !isBirthday }" class="btn radius-5">Birthday</button>
      </div>
    </div>
  </div>
</main>

<section class="mini-dashboard my-4">
  <div class="container">
    <mat-progress-spinner *ngIf="!user"
      class="text-center m-auto"
      color="warn"
      mode="indeterminate" >
    </mat-progress-spinner>

    <div class="row" *ngIf="user" >
      <div class="col-md-4">
        <div class="row box-profile soft-shadow px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="{{user && user.picture ? user.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="mb-0 text-white">{{user ? user.name : 'Name'}}</h4>
            <p class="text-white">Mitrais Employee</p>
            <a routerLink="/profile" class="badge badge-white">Edit Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-carrot px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="../../assets/img/mc-icon-carrot.png" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="text-white">You have {{user ? user.carrot : '0'}} carrots!</h4>
            <!-- <a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">
              Share carrot!
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-additional px-0">
          <div class="col-md-4 my-auto">
            <img src="../../assets/img/mc-icon-transaction.png" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="text-white">Carrots Transaction History</h4>
            <a routerLink="/employee/transaction" class="badge badge-white">View</a>
          </div>
        </div>
      </div>
    </div>

  </div> 
</section>

<div *ngIf="!isLoading" >
  <app-achievement *ngIf="isAchievement" ></app-achievement>
  <app-bazaar *ngIf="isBazaar" ></app-bazaar>
  <app-social *ngIf="isSocial" ></app-social>
  <app-group *ngIf="isGroup" ></app-group>
  <app-birthday *ngIf="isBirthday" ></app-birthday>
</div>
