<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">STAFF LIST</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-progress-spinner *ngIf="loadingStaff"
                                class="text-center m-auto"
                                color="warn"
                                mode="indeterminate" >
                                </mat-progress-spinner> 
                                <table class="table table-hover mt-3" datatable [dtOptions]="dtOptionsStaff" [dtTrigger]="dtTriggerStaff">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Birthday</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Late</th>
                                            <th scope="col">Carrot(s)</th>
                                            <th scope="col">Carrot(s) in this Month</th>
                                            <th scope="col">Carrot(s) in this Year </th>
                                            <th scope="col">Carrot(s) from Reward</th>
                                            <th scope="col">Carrot(s) Sent to Social Foundation</th>
                                            <th scope="col">Carrot(s) Shared</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of staff">
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{getDate(user.dob)}}</td>
                                            <td>{{getRoleType(user.role)}}</td>
                                            <td>{{user.alwaysLate}}</td>
                                            <td>{{user.carrot}}</td>
                                            <td>{{user.carrotOfTheMonth}}</td>
                                            <td>{{user.carrotOfTheYear}}</td>
                                            <td>{{user.carrotToReward}}</td>
                                            <td>{{user.carrotToSocial}}</td>
                                            <td>{{user.carrotToOther}}</td>
                                            <td><span><a class="btn btn-primary" (click)="setLate(user)">Change Late Flag</a></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>