

<section class="bazaar-2-items mb-4">
  <div class="container search-box pb-4">
    <div class="row">
      <div class="col-md-12">
        <hr class="box-title-hr">
        <h4 class="my-2 box-title">Social Foundation</h4>
      </div>
      <mat-progress-spinner *ngIf="!contents"
        class="text-center m-auto"
        color="warn"
        mode="indeterminate" >
      </mat-progress-spinner>
      <div *ngFor="let content of contents" class="col-md-6 br-1">
        <div class="text-center">
          <img src="{{content.picture ? content.picture : '../../assets/img/na.jpg'}}" class="img-fluid p-3 bazaar-item mb-3" alt="">
        </div>
        <div class="px-3">
          <h3>{{content.name}}</h3>
          <h4><strong class="carrot-orange">{{content.carrot}} Carrots</strong></h4>
          <p>
            {{content.description ? content.description : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eius velit dolores exercitationem porro tempore, ipsa suscipit quia. Libero voluptate quibusdam neque numquam error quas ipsa hic voluptatem aliquam, necessitatibus.'}}
          </p>
          <button (click)="onSelect(content)" data-toggle="modal" data-target="#modalContent" class="btn btn-carrot radius-5" >
            {{'Donate'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div *ngIf="selectedContent" class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalContentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalContentLabel">Donate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Social</label> 
              <input name="name" type="name" class="form-control here" [(ngModel)]="selectedContent.name" disabled />
            </div>
            <div class="form-group">
              <label for="description">Description</label> 
              <textarea id="description" name="description" cols="40" rows="8" class="form-control" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eius velit dolores exercitationem porro tempore, ipsa suscipit quia. Libero voluptate quibusdam neque numquam error quas ipsa hic voluptatem aliquam, necessitatibus." >
                {{selectedContent.description && selectedContent.description}}
              </textarea>
            </div> 
            <div class="form-group">
              <label for="amount">Carrot</label> 
              <input #amount (input)="changeAmount(amount.value)" name="amount" type="number" class="form-control here" [min]=1 [max]="user.carrot" [(ngModel)]="amountValue" required />
            </div> 
          </form>
        </div>
        <div class="modal-footer">
          <mat-progress-spinner *ngIf="isExchangeLoading"
            class="text-center m-auto"
            color="warn"
            diameter=34
            mode="indeterminate" >
          </mat-progress-spinner>
          <div *ngIf="!isExchangeLoading" >
            <button type="button" class="btn btn-link float-left" data-dismiss="modal">Cancel</button>
            <button (click)="exchange(selectedContent)" type="button" class="btn btn-carrot radius-5 float-right">Donate</button>
          </div>
        </div>
      </div>
    </div>
  </div>