<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">CARROT CONFIGURATIONS</h4>
                            </div>
                            <div class="col-md-12" *ngIf = "config">
                                <label>This Year Carrot Supply :</label>{{config.stockCarrot}}
                                <table class="table table-hover mt-3">                                         
                                        <tr>
                                            <th scope="col">Annual carrot per year</th>
                                            <th scope="col"><input #yearlyCarrot [(ngModel)]="config.yearlyCarrot" type="text" name="yearlyCarrot"></th>
                                        </tr>                                                                               
                                        <tr>
                                            <th scope="col">Maximum carrot per sharing</th>
                                            <th scope="col"><input #carrotLimit [(ngModel)]="config.carrotLimit" type="text" name="carrotLimit"></th>
                                        </tr>                 
                                </table>
                                <div class="text-center mb-3">
                                    <button type="button" class="btn btn-info" (click)="updateConfig(yearlyCarrot.value, carrotLimit.value)">
                                        <i class="fa fa-plus-circle"></i> SAVE CONFIG
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>