

<section class="bazaar-2-items mb-4">
    <div class="container search-box pb-4">
      <div class="row">
        <div class="col-md-12">
          <hr class="box-title-hr">
          <h4 class="my-2 box-title">Achievement</h4>
        </div>
        <mat-progress-spinner *ngIf="!contents"
          class="text-center m-auto"
          color="warn"
          mode="indeterminate" >
        </mat-progress-spinner>
        <div *ngFor="let content of contents" class="col-md-6 br-1">
          <div class="text-center">
            <img src="{{content.picture ? content.picture : '../../assets/img/na.jpg'}}" class="img-fluid p-3 bazaar-item mb-3" alt="">
          </div>
          <div class="px-3">
            <h3>{{content.name}}</h3>
            <h4><strong class="carrot-orange">{{content.carrot}} Carrots</strong></h4>
            <p>
              {{content.description ? content.description : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eius velit dolores exercitationem porro tempore, ipsa suscipit quia. Libero voluptate quibusdam neque numquam error quas ipsa hic voluptatem aliquam, necessitatibus.'}}
            </p>
            <button (click)="onSelect(content)" data-toggle="modal" data-target="#modalContent" class="btn btn-carrot radius-5" >
              {{'Detail'}}
            </button>
            {{content.currentCarrot > 0 ? 'Accomplished' : 'Not Accomplished yet'}}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Modal -->
  <div *ngIf="selectedContent" class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalContentLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalContentLabel">Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Achievement</label> 
                <input name="name" type="name" class="form-control here" [(ngModel)]="selectedContent.name" disabled />
              </div>
              <div class="form-group">
                <label for="description">Description</label> 
                <textarea id="description" name="description" cols="40" rows="8" class="form-control" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eius velit dolores exercitationem porro tempore, ipsa suscipit quia. Libero voluptate quibusdam neque numquam error quas ipsa hic voluptatem aliquam, necessitatibus." >
                  {{selectedContent.description && selectedContent.description}}
                </textarea>
              </div> 
              <div class="form-group">
                <label for="carrot">Carrot</label> 
                <input name="carrot" type="number" class="form-control here" [(ngModel)]="selectedContent.carrot" disabled  >
              </div> 
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link float-left" data-dismiss="modal">Close</button>
            <!-- <button (click)="user.carrot > selectedContent.carrot && exchange(selectedContent)" data-dismiss="modal" type="button" class="btn btn-carrot radius-5 float-right"
              [disabled]="user.carrot <= selectedContent.carrot"  >
              {{user.carrot > selectedContent.carrot ? 'Exchange' : 'Insufficient Carrot'}}
            </button> -->
          </div>
        </div>
      </div>
    </div>