<!-- Begin page content -->
<main role="main" class="container mt-3">
  <div class="row d-flex">
    <div class="col-md-6">
      <h2 class="mt-4 pl-0 text-grey ml-0">
        <span class="back-button">
          <a routerLink="/employee" ><img src="../../../assets/img/back.png" alt="" class="back" /></a>
        </span> 
        TRANSACTION HISTORY
      </h2>
    </div>
  </div>
</main>


<section class="mini-dashboard my-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row box-reward px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="../../../assets/img/mc-icon-carrot.png" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <p class="sub-title">Earning</p>
            <mat-progress-spinner *ngIf="!user || user.carrotOfTheYear == null"
              diameter=50
              color="warn"
              mode="indeterminate" >
            </mat-progress-spinner>
            <h2 class="text-white" *ngIf="user && user.carrotOfTheYear != null" >{{user.carrotOfTheYear}}</h2>
            <!-- <a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">
          Share carrot!</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row box-shared px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="../../../assets/img/mc-icon-carrot.png" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <p class="sub-title">Reward</p>
            <mat-progress-spinner *ngIf="!user || user.carrotToReward == null"
              diameter=50
              color="warn"
              mode="indeterminate" >
            </mat-progress-spinner>
            <h2 class="text-white" *ngIf="user && user.carrotToReward != null" >{{user.carrotToReward}}</h2>
            <!-- <a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">
          Share carrot!</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row box-bazaar px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="../../../assets/img/mc-icon-carrot.png" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <p class="sub-title">Social</p>
            <mat-progress-spinner *ngIf="!user || user.carrotToSocial == null"
              diameter=50
              color="warn"
              mode="indeterminate" >
            </mat-progress-spinner>
            <h2 class="text-white" *ngIf="user && user.carrotToSocial != null" >{{user.carrotToSocial}}</h2>
            <!-- <a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">
          Share carrot!</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row box-reward px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="../../../assets/img/mc-icon-carrot.png" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <p class="sub-title">Shared</p>
            <mat-progress-spinner *ngIf="!user || user.carrotToOther == null"
              diameter=50
              color="warn"
              mode="indeterminate" >
            </mat-progress-spinner>
            <h2 class="text-white" *ngIf="user && user.carrotToOther != null">{{user.carrotToOther}}</h2>
            <!-- <a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">
          Share carrot!</a> -->
          </div>
        </div>
      </div>
    </div>
    
  </div> 
</section>

<section class="transaction-history my-4">
  <div class="container search-box">
    <div class="row d-flex align-content-end">
      <div class="col-md-12">
        <!-- <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="carrot-type">Type</label> 
                <div>
                  <select id="carrot-type" name="carrot-type" class="custom-select">
                    <option value="">Choose Type</option>
                    <option value="Reward">Achievement</option>
                    <option value="Bazaar">Reward</option>
                    <option value="Bazaar">Social</option>
                    <option value="Shared">Shared</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Date From</label> 
                <input id="" name="" type="date" class="form-control here">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="date-to">Date To</label> 
                <input id="date-to" name="date-to" type="date" class="form-control here">
              </div> 
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="holder" class="vis-none">Date To</label> 
                <input onclick="search()" name="submit" value="Search" class="btn btn-primary btn-block">
              </div>
            </div>
          </div>
        </form> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 p-0 my-4">
        <div >
          <mat-progress-spinner *ngIf="!transactions"
            class="text-center m-auto"
            color="warn"
            mode="indeterminate" >
          </mat-progress-spinner>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover mt-3">
          <thead *ngIf="transactions" >
            <tr>
              <th scope="col">Type</th>
              <th scope="col">To/From</th>
              <th scope="col">Description</th>
              <th scope="col">Carrot</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{utility.getType(transaction.type)}}</td>
              <td>
                {{
                  transaction.sender && user ? (
                    transaction.sender.id != user.id ? 
                      transaction.sender.name : transaction.receiver.name
                  ) : 'Mitrais'
                }}
              </td>
              <!-- <td>{{transaction.sender.name}}</td> -->
              <td>{{transaction.description ? transaction.description : '-'}}</td>
              <td>
                {{
                  transaction.senderId != user.id ?
                    transaction.amount : '-' + transaction.amount
                }}
                </td>
              <td>{{utility.transformDate(transaction.dateOccured)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>