<!-- Begin page content -->
<main role="main" class="container mt-3">
  <div class="row d-flex">
    <div class="col-md-6">
      <h2 class="mt-4 pl-0 text-grey ml-0">
        <span class="back-button">
          <a (click)="back()" ><img src="../../../assets/img/back.png" alt="" class="back" /></a>
        </span> 
        PROFILE
      </h2>
    </div>
  </div>
</main>

<section *ngIf="user" class="mini-dashboard mt-4 mb-4">
  <div class="container search-box pb-4">
    <div class="row d-flex">
      <div class="col-md-12">

          <div class="row col-md-12">
            <div class="col col-md-3">
                <img class="" src="{{user && user.picture ? user.picture : '../../assets/img/user.png'}}" alt="" width="200" height="200">
            </div>
            <div class="prof col col-md-9">
              <div class="col-md-12 head">
                <h2 class="prof mb-0">{{user ? user.name : 'Name'}}</h2>
                <p class="prof mb-0" style="color: #2295f3 !important;">Mitrais {{user && Utility.getRole(user.role)}}</p>
              </div>
              <div class="col-md-12" style="margin-bottom: 30px">
                <p class="prof mb-0 body">Joined On {{user.joinDate}}</p>
                <!-- <h5 class="prof">Reports To {{(user && user.supervisor) && user.supervisor.name | uppercase}}</h5> -->
                <!-- <div class="tooltip"> <h5>{{user.address}}</h5>
                  <span class="tooltiptext">Tooltip text</span>
                  <a class="tooltiptext" id="home-tab" data-toggle="tab" href="#changeAdd" role="tab" aria-controls="changeAdd" aria-selected="false" style="font-size: 10px !important;">Change Address</a>
                </div> -->
                <h5 class="prof">{{user.address}}
                    <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a id="home-tab" data-toggle="tab" href="#changeAdd" role="tab" aria-controls="changeAdd" aria-selected="false" style="font-size: 10px !important;">Change Address</a>
                        </li>
                    </ul>
                </h5>
              </div>
              <div class="row col-md-12">
                <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="other-tab" data-toggle="tab" href="#changePass" role="tab" aria-controls="changePass" aria-selected="false" style="font-size: 15px !important;">Change Password</a>
                    </li>
                </ul>
              </div>
              <div class="tab-content col-md-12" id="myTabContent">
                <div class="tab-pane fade" id="changePass" role="tabpanel" aria-labelledby="changePass-tab">
                    <!-- <div class="row"> -->
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="password">Old Password</label>
                              <input #oldPassword id="oldPassword" name="oldPassword" type="password" class="form-control here" required="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="password">New Password</label>
                              <input #newPassword id="newPassword" name="newPassword" type="password" class="form-control here" required="">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="cpassword">Confirm Password</label>
                              <input #confirmPassword id="confirmPassword" name="confirmPassword" type="password" class="form-control here" required="">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="errMsg">
                          {{errMsg}}
                        </div>
                
                        <mat-progress-spinner *ngIf="isLoading"
                          class="text-center m-auto"
                          color="warn"
                          diameter=28
                          mode="indeterminate" >
                        </mat-progress-spinner>
                        <div class="col-md-12">
                          <input *ngIf="!isLoading" (click)="update(oldPassword.value, newPassword.value, confirmPassword.value)" class="btn btn-block btn-primary radius-5 mt-5 mb-4" value="Update"/>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="tab-pane fade" id="changeAdd" role="tabpanel" aria-labelledby="changeAdd-tab">      
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="address">Address</label>
                        <input #address name="address" type="text" [(ngModel)]="user.address" class="form-control here" required="" [(ngModel)]="user.address">
                      </div>
                      <div class="col-md-12">
                        <input *ngIf="!isLoading" (click)="updateAddress(address.value)" class="btn btn-block btn-primary radius-5 mt-5 mb-4" value="Update"/>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <a routerLink="/password" class="prof badge badge-white">Change Password</a> -->
              </div>
            </div>
          </div>

          
<!-- 
          <img class="mt-5 mb-4" src="{{user && user.picture ? user.picture : '../../assets/img/user.png'}}" alt="" width="200" height="200">

          <div class="form-group">
            <label for="file">Choose File</label>
            <input type="file" id="file" (change)="handleFileInput($event.target.files)">
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" [(ngModel)]="user.name" class="form-control here" required="" autofocus="" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" [(ngModel)]="user.email" class="form-control here" required="" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dob">Date of birth</label>
                <input id="dob" name="dob" type="date" [(ngModel)]="user.dob" class="form-control here" required="">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="joinDate">Join date</label>
                  <input id="joinDate" name="joinDate" type="date" [(ngModel)]="user.joinDate" class="form-control here" required="">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="role">As A</label>
                <input id="role" name="role" type="text" value="{{user && Utility.getRole(user.role)}}" class="form-control here" disabled >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="supervisor">Supervisor</label>
                <input id="supervisor" name="supervisor" type="text" value="{{(user && user.supervisor) && user.supervisor.name}}" class="form-control here" disabled >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Old Password</label>
                <input #oldPassword id="oldPassword" name="oldPassword" type="password" class="form-control here" required="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">New Password</label>
                <input #newPassword id="newPassword" name="newPassword" type="password" class="form-control here" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input #confirmPassword id="confirmPassword" name="confirmPassword" type="password" class="form-control here" required="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Address</label>
                <input name="address" type="text" [(ngModel)]="user.address" class="form-control here" required="">
              </div>
            </div>
          </div>
          <div *ngIf="errMsg">
            {{errMsg}}
          </div>

          <mat-progress-spinner *ngIf="isLoading"
            class="text-center m-auto"
            color="warn"
            diameter=28
            mode="indeterminate" >
          </mat-progress-spinner>
          <input *ngIf="!isLoading" (click)="update(oldPassword.value, newPassword.value, confirmPassword.value)" class="btn btn-block btn-primary radius-5 mt-5 mb-4" value="Update"/> -->
      </div>
    </div>
  </div>
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">