<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" >
                    <div class="tab-pane fade show active" >
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">STAFF GROUP LIST</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-progress-spinner *ngIf="loadingGroup"
                                class="text-center m-auto"
                                color="warn"
                                mode="indeterminate" >
                                </mat-progress-spinner> 
                                <table class="table table-hover mt-3" datatable [dtOptions]="dtOptionsGroup" [dtTrigger]="dtTriggerGroup">
                                    <thead>
                                        <tr>
                                            <th scope="col">Group Name</th>
                                            <th scope="col">No of Staff</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let group of groups">
                                            <td>{{group.name}}</td>
                                            <td>{{(group.members) ? group.members.length + 1 : 1}}</td>
                                            <td><a class="btn btn-warning" data-toggle="modal" data-target="#editGroupName" (click)="groupOnSelect(group)">Edit Name</a> <a *ngIf="group.manager" class="btn btn-warning" data-toggle="modal" data-target="#editBirthday" (click)="groupOnSelect(group)">Edit Birthday Config</a></td>
                                        </tr>
                                    </tbody>
                                </table> 
                                <div class="text-center mb-3">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newGroup">
                                        <i class="fa fa-plus-circle"></i> CREATE NEW STAFF GROUP
                                    </button>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<!-- Edit Group Name Modal -->
<div class="modal fade" id="editGroupName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Group Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf = "selectedGroup">
                <form>
                    <div class="form-group">
                        <label for="text1">New Group Name</label>
                      <input [(ngModel)]="selectedGroup.name" name="groupName" type="text" class="form-control here"  >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" (click)="cancelEdit()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="editGroupName()" data-dismiss="modal">Change</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Birthday Modal -->
<div class="modal fade" id="editBirthday" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Birthday Configuration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf = "selectedGroup">
                <form>
                    <div class="form-group">
                        <label for="text1">Auto-send carrot on staff birthday</label>
                        <input #autoStatus type="checkbox" [checked]="selectedGroup.autoCarrotAdmin" (change)="selectedGroup.autoCarrotAdmin = !selectedGroup.autoCarrotAdmin">
                    </div>
                    <div class="form-group">
                        <label for="text1">Amount of carrot sent</label><br>
                        <input #carrotAmount [(ngModel)]="selectedGroup.birthdayCarrotAdmin" [attr.disabled]="selectedGroup.autoCarrotAdmin ? null : selectedGroup.birthdayCarrotAdmin" id="text1" name="text1" type="text" class="form-control here">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancelEdit()">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="saveBirthdayStatus()" data-dismiss="modal">SAVE CONFIG</button>
            </div>
        </div>
    </div>
  </div>

<!-- Edit Birthday Modal -->
  <div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create New Staff Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <label for="text1">Group Type</label><br>
                          <select name="typeGroup" #typeGroup (change)= "checkGroupType($event)">
                              <option value="Employee" selected>Employee</option>
                              <option value="Manager">Manager</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="text1">Group Name</label>
                          <input #groupName type="Text" id="groupName" name="groupName">
                      </div>
                      <div *ngIf = "currentGroupChoice == 'Employee'" class="form-group">
                          <label>Assigned Manager: </label>
                          <select (change)="onSelectUser($event.target.value)">
                              <option>--SELECT A MANAGER--</option>
                              <option *ngFor="let user of managers" value={{user.id}}>
                                  {{user.name}}
                              </option>
                          </select>
                      </div>
                      <div *ngIf = "currentGroupChoice == 'Manager'" class="form-group">
                          <label>Assigned Senior Manager: </label>
                          <select (change)="onSelectUser($event.target.value)">
                              <option>--SELECT A SENIOR MANAGER--</option>
                              <option *ngFor="let user of seniorManagers" value={{user.id}}>
                                  {{user.name}}
                              </option>
                          </select>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal" (click)="groupName.value==''">Cancel</button>
                  <button type="button" class="btn btn-carrot radius-5" (click)="addGroup(groupName.value)" data-dismiss="modal">Create Group</button>
              </div>
          </div>
      </div>
  </div>

