<section class="admin-tabs py-3">
    <div class="container">
        <div class="row" *ngIf="loggedInManager" style="margin-bottom: 20px" >
            <div class="col-md-6">
            <div class="row box-profile soft-shadow px-0 mr-0">
                <div class="col-md-4 my-auto circular--landscape    ">
                        <img src="{{loggedInManager && loggedInManager.picture ? loggedInManager.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle crop">
                    </div>
                <div class="col-md-8 my-auto">
                <h4 class="mb-0 text-white">{{loggedInManager ? loggedInManager.name : 'Name'}}</h4>
                <p class="text-white">Mitrais Manager</p>
                <a routerLink="/profile" class="badge badge-white">Edit Profile</a>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row box-carrot px-0 mr-0">
                <div class="col-md-4 my-auto">
                <img src="../../assets/img/mc-icon-carrot.png" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8 my-auto">
                <h4 class="text-white">You have {{loggedInManager ? loggedInManager.carrot : '0'}} carrots!</h4>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 px-md-0">
                <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" (click)="loadFirstGroup()">Your Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="other-tab" data-toggle="tab" href="#otherGroups" role="tab" aria-controls="otherGroups" aria-selected="false" (click)="loadOtherGroups()">Employee Managed By Others</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="available-tab" data-toggle="tab" href="#avEmployee" role="tab" aria-controls="available" aria-selected="false" (click)="loadUnmanagedUsers()">Available Employee</a>
                    </li>
                </ul>
                <div class="tab-content search-box" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            
                            <div class="col-md-12"  *ngIf = "selectedGroup">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">{{selectedGroup.name}} Employee List</h4>
                            </div>
                            <div class="col-md-12">
                                <div class="row col-md-12">
                                    <div class="col-md-10">
                                        <mat-form-field class="ml-auto">
                                            <input matInput (keyup)="applyFilter($event.target.value, 1)" placeholder="Click Me To Search">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 form-group ml-auto">
                                        <button class="btn btn-secondary dropdown-toggle form-control here" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
                                            aria-haspopup="true" aria-expanded="false" style="padding:6px;background-color: #17a2b8;font-size: 0.7rem;border-left-width: 0px;width: 163px;">
                                                Select Group
                                        </button>
                                        <div class="dropdown-menu form-group" aria-labelledby="dropdownMenuButton" style="position: absolute;transform: translate3d(9px, 30px, 0px);top: 0px;left: 0px;will-change: transform;width: 174px;">
                                                <a class="dropdown-item form-control here" style="padding : 6px" href="#" *ngFor="let group of groups" (click)="onSelectGroup(group)"
                                                data-toggle="modal" data-dismiss="modal">{{group.name}}</a>
                                        </div>
                                    </div>
                                </div>

                                <mat-table [dataSource]="dataSource" matSort>

                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="E-mail">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Join Date">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Join Date </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.joinDate}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Role">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{utility.getRole(row.role)}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Active">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.active}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <a class="actionmanage" data-toggle="modal" data-target="#actionManager" style="color : #868e96" (click)="onSelect(row)">Manage </a>|
                                            <a class="actioncarrot" data-toggle="modal" data-target="#actionCarrot" style="color : #868e96" (click)="onSelect(row)" (click)="loadContents()"> Send Carrot</a>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator>
                                <div class="text-center mb-3">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addEmployee" (click)="loadAddEmpl()">
                                        <i class="fa fa-plus-circle"></i> ADD EMPLOYEE
                                    </button>
                                    
                                    <button type="button" class="btn btn-carrot radius-5" data-toggle="modal" data-target="#editBirthday" style="width: 50px; height: 50px">
                                        <!-- SET CARROT <br/> FOR THIS GROUP -->
                                        <img src="../../assets/img/carr2.png" alt="" class="img-fluid">
                                    </button>

                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#setAchievement" (click)="loadContents()">
                                        SET ACHIEVEMENT <i class="fa fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="otherGroups" role="tabpanel" aria-labelledby="other-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">Employee Managed By Others</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="ml-auto">
                                    <input matInput (keyup)="applyFilter($event.target.value, 1)" placeholder="Click Me To Search">
                                </mat-form-field>

                                <mat-table [dataSource]="dataSource" matSort>

                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="E-mail">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Join Date">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Join Date </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.joinDate}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Active">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.active}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <a class="actionmanage" data-toggle="modal" data-target="#actionView" style="color : #868e96" (click)="onSelect(row)">View</a>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumnsOther"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsOther;">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator>

                                <!-- <table class="table table-hover mt-3" datatable [dtOptions]="dtOptions" class="table table-hover mt-3">
                                    <thead>
                                        <tr>
                                            <th rowspan="1">Name</th>
                                            <th colspan="1">E-mail</th>
                                            <th rowspan="1">Join Date</th>
                                            <th rowspan="1">Role</th>
                                            <th rowspan="1">Active</th>
                                            <th rowspan="1">Group</th>
                                            <th rowspan="1">Managed By</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let groupe of otherGroups">
                                        <tr *ngFor="let user of groupe.members">
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.joinDate}}</td>
                                            <td>{{utility.getRole(user.role)}}</td>
                                            <td>{{user.active}}</td>
                                            <td>{{groupe.name}}</td>
                                            <td>{{groupe.manager.name}}</td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>
                        </div>
                    </div>      
                    <div class="tab-pane fade" id="avEmployee" role="tabpanel" aria-labelledby="available-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">Available Employee LIST</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="ml-auto">
                                    <input matInput (keyup)="applyFilter($event.target.value, 1)" placeholder="Click Me To Search">
                                </mat-form-field>

                                <mat-table [dataSource]="dataSource" matSort>

                                    <!-- <mat-input-container>
                                        <input matInput placeholder="Search lessons" #input>
                                    </mat-input-container> -->

                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="E-mail">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Join Date">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Join Date </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.joinDate}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Role">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{utility.getRole(row.role)}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Active">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.active}} </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumnsUnGroup"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsUnGroup;">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Action Manager Modal -->
<div class="modal fade" id="actionManager" tabindex="-1" role="dialog" aria-labelledby="actionManager" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manage Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf ="selectedUser" class="modal-body">
        <form>
            <div class="col-md-12">
                <div class="row box-profile soft-shadow px-0 mr-0">
                <div class="col-md-4 my-auto radius-5 circular--landscape">
                    <img src="{{selectedUser && selectedUser.picture ? selectedUser.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle crop">
                </div>
                <div class="col-md-8 my-auto">
                    <h4 class="mb-0 text-white">{{selectedUser ? selectedUser.name : 'Name'}}</h4>
                    <h5 class="text-white badge badge-white">Member of {{selectedGroup.name}}</h5>
                </div>
                </div>
            </div>
            <br>
            <div class="form-group col-md-12" *ngIf="groups.length > 1">
                <button class="btn btn-secondary dropdown-toggle form-control here" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style=" background-color: #119bd2; font-size: 0.7rem">
                        Move Group
                </button>
                <div class="dropdown-menu form-group" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item form-control here" style="padding : 6px" href="#" *ngFor="let foot of groupsAftFiltered" (click)="onSelectNewGroup(foot)"
                        data-toggle="modal" data-target="#moveEmployee" data-dismiss="modal">{{foot.name}}</a>
                </div>
            </div>
            <div class="text-center form-group col-md-12">
                <a class="text-center" id="removeButton" data-toggle="modal" data-dismiss="modal"
                    aria-haspopup="true" aria-expanded="false" style="padding:6px; color: #ff2222; font-size: 0.8rem; width: 100%" data-target="#removeEmployee" data-target="#removeEmployee">
                        Remove from Group
                </a>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link " data-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-carrot radius-5">Submit</button> -->
      </div>
    </div>
  </div>
</div>

    <!-- Action View Modal -->
<div class="modal fade" id="actionView" tabindex="-1" role="dialog" aria-labelledby="actionView" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Manage Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf ="selectedUser" class="modal-body">
              <form>
                  <div class="col-md-12">
                      <div class="row box-profile soft-shadow px-0 mr-0">
                      <div class="col-md-4 my-auto radius-5 circular--landscape">
                          <img src="{{selectedUser && selectedUser.picture ? selectedUser.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle crop">
                      </div>
                      <div class="col-md-8 my-auto">
                            <h3 class="mb-0 text-white">{{selectedUser ? selectedUser.name : 'Name'}}</h3>
                            <h5 class="text-white">Member of {{selectedGroup.name}}</h5>
                            <h6 class="text-white">Managed by : {{selectedGroup.manager.name}}</h6>
                          <!-- <h5 class="text-white">Managed by : {{selectedGroup.manager.name}}</h5> -->
                      </div>
                      </div>
                  </div>
                  <br>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link " data-dismiss="modal">Cancel</button>
              <!-- <button type="button" class="btn btn-carrot radius-5">Submit</button> -->
            </div>
          </div>
        </div>
      </div>


    <!-- Action Carrot Modal -->
<div class="modal fade" id="actionCarrot" tabindex="-1" role="dialog" aria-labelledby="actionSeniorCarrot" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send Carrot</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div *ngIf ="selectedUser" class="modal-body">
                <form>
                    <div class="form-group my-auto">
                        <label for="text1">Recipient</label> 
                        <input id="text1" name="text1" type="text" class="form-control here" [(ngModel)]="selectedUser.name" placeholder="name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="text2">E-mail</label> 
                        <input id="text2" name="text2" type="text" class="form-control here" [(ngModel)]="selectedUser.email" placeholder="email" disabled>
                    </div>
                    <!-- <div class="form-group">
                        <label for="text3">Description</label>
                        <textarea #description id="description" name="textarea" cols="40" rows="5" class="form-control"></textarea>
                    </div> -->
                    <div class="form-group">
                        <button class="btn btn-secondary dropdown-toggle form-control here" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false" style="padding:6px;background-color: #119bd2;font-size: 0.7rem;">
                                Select Achievement
                        </button>
                        <div class="dropdown-menu form-group" aria-labelledby="dropdownMenuButton" style="position: absolute;transform: translate3d(9px, 30px, 0px);top: 0px;left: 0px;will-change: transform;width: 174px;">
                                <a class="dropdown-item form-control here" style="padding : 6px" href="#" *ngFor="let group of contentsDisp" (click)="calCarrot(group)"
                                data-toggle="modal">{{group.name}}</a>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="selectedContent">
                        <label for="text4">Achievement</label> 
                        <input id="carrotVal" #conName [(ngModel)]="selectedContent.name" name="textz" type="text" class="form-control here" placeholder="0" value=0 disabled>

                        <label for="text4">Send Carrot</label> 
                        <input id="carrotVal" #carrotVal [(ngModel)]="selectedContent.carrot" name="text4" type="text" class="form-control here" placeholder="0" value=0 disabled>
                        <!-- <input id="carrotValue" #carrotValue (change)="calCarrot(carrotValue.value)" name="text4" type="number" class="form-control here" placeholder="0" value=0 disabled> -->
                        <label id="carrotLeft" for="text" *ngIf="inputedCarrot">You Have : {{loggedInManager.carrot - carrotVal.value}} Carrot(s) Left</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link " data-dismiss="modal" (click)="re()">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="sendCarrot()" data-toggle="modal" data-target="#confirmCarrot" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div >
</div>

    <!-- Action Confirmation Carrot Modal -->
<div class="modal fade" id="confirmCarrot" tabindex="-1" role="dialog" aria-labelledby="actionCarrot" aria-hidden="true" *ngIf="selectedManager">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send Carrot</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group my-auto">
                        <label for="text1">You already sent {{ carrotvalue }} carrots to {{ selectedUser.name }}</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-carrot radius-5" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

    <!-- Action Add Employee Modal -->
<div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="addEmployee" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin: auto; width : 750px">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <div class="row col-md-12"> -->
            <mat-form-field class="ml-auto">
                <input matInput (keyup)="applyFilter($event.target.value, 2)" placeholder="Click Me To Search">
            </mat-form-field>
            <div style="overflow:scroll; height:400px;">

            <mat-table [dataSource]="dataSourceAddEmp" matSort>

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox> -->
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <!-- <mat-input-container>
                    <input matInput placeholder="Search lessons" #input>
                </mat-input-container> -->

                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="E-mail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Join Date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Join Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.joinDate}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Role">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{utility.getRole(row.role)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.active}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsAddEmp"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsAddEmp;">
                </mat-row>
            </mat-table>
            <!-- <mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link " data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-carrot radius-5" data-dismiss="modal" (click)="onSubmit()">Submit</button>
        </div>
    </div>
  </div>
</div>

    <!-- Action Add Achievement Modal -->
<div class="modal fade" id="setAchievement" tabindex="-1" role="dialog" aria-labelledby="setAchievement" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin: auto; width : 750px">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Set Achievement</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-md-12">
                <hr class="box-title-hr" style="margin-top: 0px">
                <h4 class="my-2 box-title" style="color: mediumseagreen; text-transform: none; margin-bottom: 0px;margin-top: 0px;">How to use it?</h4>
                <p style="color: #868e96; font-size: 13px">Click options below the UNAVAILABLE ACHIEVEMENT to make it move to the AVAILABLE ACHIEVEMENT,
                    it will make system available to send carrots to your group members based on options you choose.
                    If you want to remove the existing available achievements that have been set on your groups,
                    you can do it by clicking the achievement options below the AVAILABLE ACHIEVEMENT.
                    Don't worry, the system will do it for you automatically. Enjoy :)
                </p>
            </div>
        <div class="row col-md-12">
            <div class="col-md-6">
                <table class="table table-hover mt-3">
                    <thead>
                        <tr>
                            <th rowspan="1" class="my-2 box-title" style="text-align: center">Available <br> Achievement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngFor="let content of contentsDisp"
                            (click)="onSelectContent(content)" class="col-md-12"
                            style="height: 50px; padding: 10px">
                                <div class="row p-0 m-2" title="{{content.name}}">
                                    <div>
                                        <img src="{{user && user.picture ? user.picture : '../../assets/img/carr-icon.png'}}" alt="" class="img-fluid rounded-circle"
                                        style="width: 50px;height: 50px;padding-bottom: 5px;padding-right: 5px;padding-left: 5px;padding-top: 5px;margin-bottom: 0px;">
                                    </div>
                                    <div>
                                        <a style="color: dimgray !important"><h6 class="a" style="margin-bottom: 0px;margin-top: 5px;">{{content.name}}</h6></a>
                                        <a style="color: dimgray !important">{{content.carrot}} carrots</a>
                                    </div>
                                </div>
                        </div>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-hover mt-3">
                    <thead>
                        <tr>
                            <th rowspan="1" class="my-2 box-title" style="text-align: center">Unavailable Achievement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngFor="let content of unableContentsDisp"
                            (click)="onRemoveContent(content)" class="col-md-12"
                            style="height: 50px; padding: 10px">
                                <div class="row p-0 m-2" title="{{content.name}}">
                                    <div>
                                        <img src="{{user && user.picture ? user.picture : '../../assets/img/carr-icon.png'}}" alt="" class="img-fluid rounded-circle"
                                        style="width: 50px;height: 50px;padding-bottom: 5px;padding-right: 5px;padding-left: 5px;padding-top: 5px;margin-bottom: 0px;">
                                    </div>
                                    <div>
                                        <a style="color: dimgray !important"><h6 class="a" style="margin-bottom: 0px;margin-top: 5px;">{{content.name}}</h6></a>
                                        <a style="color: dimgray !important">{{content.carrot}} carrots</a>
                                    </div>
                                </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link " data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-carrot radius-5" data-dismiss="modal" (click)="onSubmitContent()">Submit</button>
        </div>
    </div>
  </div>
</div>

    <!-- Move Employee Confirmation Modal -->
<div class="modal fade" id="moveEmployee" tabindex="-1" role="dialog" aria-labelledby="removeEmployee" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Move Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf ="selectedUser" class="modal-body">
          <form>
            <div class="form-group my-auto">
              <label for="text1" *ngIf="selectedNewGroup">Do you really want to move {{ selectedUser.name }} from {{ selectedGroup.name }} to {{ selectedNewGroup.name }} ?</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link " data-dismiss="modal" (click) = "selectNewGroup(selectedUser.id, selectedGroup, selectedNewGroup)">Yes</button>
          <button type="button" class="btn btn-carrot radius-5" data-dismiss="modal" data-toggle="modal" data-target="#actionManageEmp">No</button>
        </div>
      </div>
    </div>
</div>

    <!-- Remove Employee Confirmation Modal -->
<div class="modal fade" id="removeEmployee" tabindex="-1" role="dialog" aria-labelledby="removeEmployee" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf ="selectedUser" class="modal-body">
          <form>
            <div class="form-group my-auto">
              <label for="text1">Do you really want to remove {{ selectedUser.name }} from {{ selectedGroup.name }} ?</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link " data-dismiss="modal" (click)="onRemoveEmployee()" href="#home" role="tab">Yes</button>
          <button type="button" class="btn btn-carrot radius-5" data-dismiss="modal" data-toggle="modal" data-target="#actionManageEmp">No</button>
        </div>
      </div>
    </div>
</div>

    <!-- Action Auto Set Carrot Modal -->
<div class="modal fade" id="editBirthday" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Birthday Configuration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf = "selectedGroup">
                <form>
                    <div class="form-group">
                        <label for="text1">Auto-send carrot on {{selectedGroup.name}}'s staff birthday</label>
                        <input #autoStatus type="checkbox" [checked]="selectedGroup.autoCarrotManager" (change)="selectedGroup.autoCarrotManager = !selectedGroup.autoCarrotManager">
                    </div>
                    <div class="form-group">
                        <label for="textz">Amount of carrot sent</label><br>
                        <input #carrotAmount [(ngModel)]="selectedGroup.birthdayCarrotManager" [attr.disabled]="selectedGroup.autoCarrotManager ? null : selectedGroup.birthdayCarrotManager" id="textz" name="textz" type="text" class="form-control here">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="saveBirthdayStatus()" data-dismiss="modal">SAVE CONFIG</button>
            </div>
        </div>
    </div>
</div>