<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    <div id="header"></div>

    <!-- Begin page content -->
    <main role="main" class="container">
        <h2 class="mt-4 pl-0 text-grey ml-0">
        ADMINISTRATOR DASHBOARD
       </h2>
    </main>
    <section class="admin-tabs py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 px-md-0">
                    <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" (click)="openContent()" [ngClass]="{'btn-success': isContent, 'btn-outline-success': !isContent }">Content List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="openApproval()" [ngClass]="{'btn-success': isApproval, 'btn-outline-success': !isApproval }">Approval List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="openStaff()" [ngClass]="{'btn-success': isStaff, 'btn-outline-success': !isStaff }">Staff List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="openGroup()" [ngClass]="{'btn-success': isGroup, 'btn-outline-success': !isGroup }">Staff Group List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="openNewsletter()" [ngClass]="{'btn-success': isNewsletter, 'btn-outline-success': !isNewsletter }">Newsletter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div>
        <app-content *ngIf="isContent" ></app-content>
        <app-approval *ngIf="isApproval" ></app-approval>
        <app-staff *ngIf="isStaff" ></app-staff>
        <app-group-staff *ngIf="isGroup" ></app-group-staff>
        <app-newsletter *ngIf="isNewsletter" ></app-newsletter>
    </div>
    
    <div id="footer"></div>
</body>

</html>