<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" routerLink="/">
        <img src="../assets/img/mitrais-logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="isUserActive()" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="openNotif()" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell notif-icon"></i>
            <div class="notif-active"></div>
          </a>
          <div class="dropdown-menu right-0" aria-labelledby="navbarDropdown" >
            <mat-progress-spinner *ngIf="isLoading"
              class="text-center m-auto"
              color="warn"
              diameter=28
              mode="indeterminate" >
            </mat-progress-spinner>
            <div *ngIf="!isLoading" >
              <a *ngIf="(notifications < 1)" class="dropdown-item" ><strong>No notifications!</strong></a>
              <a *ngFor="let notification of notifications" class="dropdown-item" style="padding: 0px"
                data-toggle="modal" data-target="#modalNewslatter" (click)="onSelectNotification(notification)">
                {{notification.title ? notification.title : notification.description}}
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user notif-icon"></i>
          </a>
          <div class="dropdown-menu right-0" aria-labelledby="navbarDropdown">
            <a routerLink="/profile" class="dropdown-item" ><strong>Profile</strong></a>
            <a (click)="logout()" class="dropdown-item text-gray-dark" ><i class="fa fa-sign-out ml-3"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div id="container" class="h-100">
    <router-outlet></router-outlet>

    <!-- See Newsletter Modal -->
    <div *ngIf="selectedNotification" class="modal fade" id="modalNewslatter" tabindex="-1" role="dialog" aria-labelledby="newslatterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newslatterModalLabel">Newsletter</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="title">{{selectedNotification.title}}</label>
                    </div>
                    <div class="form-group" [froalaView]="selectedNotification.description"></div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="footer text-center">
  <div class="container">
    <span class="text-muted"><small>Copyright &copy; 2018 Mitrais. All rights reserved.</small></span>
  </div>
</footer>