<section class="mini-dashboard my-4">
    <div class="container">
        <mat-progress-spinner *ngIf="!loggedInManager"
        class="text-center m-auto"
        color="warn"
        mode="indeterminate" >
        </mat-progress-spinner>

        <div class="row" *ngIf="loggedInManager" >
            <div class="col-md-6">
                <div class="row box-profile soft-shadow px-0 mr-0">
                <div class="col-md-4 my-auto radius-5 circular--landscape">
                    <img src="{{loggedInManager && loggedInManager.picture ? loggedInManager.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle crop">
                </div>
                <div class="col-md-8 my-auto">
                    <h4 class="mb-0 text-white">{{loggedInManager ? loggedInManager.name : 'Name'}}</h4>
                    <p class="text-white">Mitrais Senior Manager</p>
                    <a routerLink="/profile" class="badge badge-white">Edit Profile</a>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row box-carrot px-0 mr-0">
                <div class="col-md-4 my-auto">
                    <img src="../../assets/img/mc-icon-carrot.png" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8 my-auto">
                    <h4 class="text-white">You have {{loggedInManager ? loggedInManager.carrot : '0'}} carrots!</h4>
                    <h6 class="text-red" *ngIf="loggedInManager.carrot <= 500">Your carrots are getting low</h6>
                </div>
                </div>
            </div>
        </div>

    </div> 
</section>
<section class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">
                <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" (click)="loadFirstGroup()">Your Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="available-tab" data-toggle="tab" href="#avManager" role="tab" aria-controls="available" aria-selected="false" (click)="loadGroupAvManager()">Available Manager</a>
                    </li>
                </ul>
                <div class="tab-content search-box" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="form-group ml-auto">
                                    <label for="text2" style="margin-bottom: 0px;">Select Group</label>
                                    <select name="user" #user>
                                        <option *ngFor = "let group of myGroups"><a class="dropdown-item form-control here" style="padding : 6px" href="#" (click)="onSelectGroup(group)"
                                            data-toggle="modal" data-dismiss="modal">{{group.name}}</a></option>
                                    </select>
                                </div>
                                <div class="col-md-12"  *ngIf = "selectedManagerGroup">
                                    <hr class="box-title-hr" style="margin-top: 0px;">
                                    <h4 class="my-2 box-title">{{selectedManagerGroup.name}} Manager List</h4>
                                </div>
                                <div class="col-md-12" *ngIf = "selectedManagerGroup">
                                    <mat-form-field class="ml-auto">
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Click Me To Search">
                                    </mat-form-field>
                                    <mat-table [dataSource]="dataSource" matSort>
                                        <ng-container matColumnDef="Name">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="E-mail">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Join Date">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Join Date </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.joinDate}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Role">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{utility.getRole(row.role)}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Active">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.active}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Action">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <a class="actionmanage" data-toggle="modal" data-target="#actionSeniorManager" style="color : #868e96" (click)="onSelect(row)">Manage </a>|
                                                <a class="actioncarrot" data-toggle="modal" data-target="#actionSeniorCarrot" style="color : #868e96" (click)="onSelect(row)"> Send Carrot</a>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                                        </mat-row>
                                    </mat-table>
                                    <mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator> 
                                    <div class="text-center mb-3">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addManager">
                                            <i class="fa fa-plus-circle"></i> Add Manager
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="avManager" role="tabpanel" aria-labelledby="available-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <hr class="box-title-hr">
                                    <h4 class="my-2 box-title">Available Manager LIST</h4>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="ml-auto">
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Click Me To Search">
                                    </mat-form-field>
                                    <mat-table [dataSource]="dataSource" matSort>
                                        <ng-container matColumnDef="Name">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="E-mail">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Join Date">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Join Date </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.joinDate}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Role">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{utility.getRole(row.role)}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Active">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.active}} </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumnsAvManager"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsAvManager;">
                                        </mat-row>
                                    </mat-table>
                                    <mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

    <!-- Action Manager Modal -->
<div class="modal fade" id="actionSeniorManager" tabindex="-1" role="dialog" aria-labelledby="actionSeniorManager" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manage Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf ="selectedManager" class="modal-body">
        <form>
            <div class="form-group my-auto">
                <label for="text1">ID</label> 
                <input id="text1" name="text1" type="text" class="form-control here" [(ngModel)]="selectedManager.id" placeholder="id" disabled>
            </div>
            <div class="form-group">
                <label for="text2">Name</label> 
                <input id="text2" name="text2" type="text" class="form-control here" [(ngModel)]="selectedManager.name" placeholder="name" disabled>
            </div>
            
            <div class="form-group">
                <label for="text4">Current Group</label> 
                <input id="text4" name="text4" type="text" class="form-control here" [(ngModel)]="selectedManagerGroup.name" placeholder="Current Group" disabled>
            </div>

            <div class="form-group">
                <label for="text5">Managing Staff Group</label> 
                <input id="text5" name="text5" type="text" class="form-control here" [(ngModel)]="groups.name" placeholder="this manager has no managing a staff group yet" disabled>
            </div>

            <div class="form-group">
                <button *ngIf="groupsAftFiltered.length > 1" class="btn btn-secondary dropdown-toggle form-control here" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="padding:6px; background-color: #17a2b8; font-size: 0.7rem" (click)="moveToNoSelected(selectedManagerGroup.id)">
                        Move From Group
                </button>
                <div class="dropdown-menu form-group" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item form-control here" style="padding : 6px" href="#" *ngFor="let foot of groupsAftFiltered" (click)="onSelectNewManagerGroup(foot)"
                        data-toggle="modal" data-target="#moveManager" data-dismiss="modal">{{foot.name}}</a>
                </div>
            </div>
            <div class="text-center form-group col-md-12">
                <a class="text-center" id="removeButton" data-toggle="modal" data-dismiss="modal" 
                    aria-haspopup="true" aria-expanded="false" style="padding:6px; color: #ff2222; font-size: 0.8rem; width: 100%" data-target="#removeManager">
                        Remove from Group
                </a>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link " data-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-carrot radius-5">Submit</button> -->
      </div>
    </div>
  </div>
</div>

    <!-- Action Carrot Modal -->
<!-- <div *ngIf="selectedManager" class="modal fade" id="actionSeniorCarrot" tabindex="-1" role="dialog" aria-labelledby="actionSeniorCarrot" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Carrot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div *ngIf ="selectedManager" class="modal-body">
            <form>
                <div class="form-group">
                    <label for="name">Recipient</label> 
                    <input name="name" type="text" class="form-control here" placeholder="Autocomplete + dropdown" [(ngModel)]="selectedManager.name" disabled />
                </div>
                <div class="form-group">
                    <label for="description">Comments</label> 
                    <textarea #description id="description" name="description" cols="40" rows="5" class="form-control" placeholder="Happy birthday broooo!!!!!!" required ></textarea>
                </div> 
                <div class="form-group">
                    <label for="amount">Carrot</label> 
                    <input #amount (input)="changeAmount(amount.value)" name="amount" type="number" class="form-control here" [min]=1 [max]="loggedInManager.carrot" value={{amountValue}} required >
                </div> 
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link float-left" data-dismiss="modal">Cancel</button>
            <button (click)="sendCarrot(description.value)" data-dismiss="modal" type="button" class="btn btn-carrot radius-5 float-right">Send Carrot</button>
        </div>
    </div>
  </div>
</div> -->

<!-- Action Carrot Modal -->
<div *ngIf="selectedManager" class="modal fade" id="actionSeniorCarrot" tabindex="-1" role="dialog" aria-labelledby="actionCarrotLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="actionCarrotLabel">Share your carrot!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="name">Recipient</label> 
                <input name="name" type="text" class="form-control here" placeholder="Autocomplete + dropdown" [(ngModel)]="selectedManager.name" disabled />
            </div>
            <div class="form-group">
                <label for="description">Comments</label> 
                <textarea #description id="description" name="description" cols="40" rows="5" class="form-control" placeholder="Happy birthday broooo!!!!!!" required ></textarea>
            </div> 
            <div class="form-group">
                <label for="amount">Carrot</label> 
                <input #amount (input)="changeAmount(amount.value)" name="amount" type="number" class="form-control here" [min]=1 [max]="loggedInManager.carrot" value={{amountValue}} required >
            </div> 
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link float-left" data-dismiss="modal">Cancel</button>
            <button (click)="sendCarrot(description.value)" data-dismiss="modal" type="button" class="btn btn-carrot radius-5 float-right">Send Carrot</button>
        </div>
        </div>
    </div>
</div>

    <!-- Action Confirmation Carrot Modal -->
<div class="modal fade" id="confirmCarrot" tabindex="-1" role="dialog" aria-labelledby="actionCarrot" aria-hidden="true" *ngIf="selectedManager">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send Carrot</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group my-auto">
                        <label for="text1">You already sent {{ carrotvalue }} carrots to {{ selectedManager.name }}</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-carrot radius-5" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

    <!-- Action Add Manager Modal -->
<div class="modal fade" id="addManager" tabindex="-1" role="dialog" aria-labelledby="addManager" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin: auto; width : 750px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th rowspan="1">Available Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div *ngFor="let user of unGroupManagers"
                                [class.selected]="user === selectedManager"
                                (click)="onSelectManagerToMove(user)" class="col-md-12"
                                style="height: 50px; padding: 10px">
                                    <div class="row soft-shadow p-0 m-2">
                                        <div>
                                            <img src="{{user && user.picture ? user.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle" style="width: 50px; height: 50px; padding: 10px">
                                        </div>
                                        <div>
                                            <a style="color: dimgray !important"><h6 style="margin-bottom: 0px">{{user.name}}</h6></a>
                                            <a style="color: dimgray !important">{{user.email}}</a>
                                        </div>
                                    </div>
                            </div>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th rowspan="1">Added Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div *ngFor="let user of newManagers"
                                [class.selected]="user === selectedManager"
                                (click)="onRemoveManagerToMove(user)" class="col-md-12"
                                style="height: 50px; padding: 10px">
                                    <div class="row soft-shadow p-0 m-2">
                                        <div>
                                            <img src="{{user && user.picture ? user.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle" style="width: 50px; height: 50px; padding: 10px">
                                        </div>
                                        <div>
                                            <a style="color: dimgray !important"><h6 style="margin-bottom: 0px">{{user.name}}</h6></a>
                                            <a style="color: dimgray !important">{{user.email}}</a>
                                        </div>
                                    </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" data-dismiss="modal" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

    <!-- Remove Manager Modal -->
<div class="modal fade" id="removeManager" tabindex="-1" role="dialog" aria-labelledby="removeManager" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLabel">Manage Manager</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf ="selectedManager" class="modal-body">
            <form>
            <div class="form-group my-auto">
                <label for="text1">Do you really want to remove {{ selectedManager.name }} from {{ selectedManagerGroup.name }} ?</label>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onRemoveManager()">Yes</button>
            <button type="button" class="btn btn-carrot radius-5" data-toggle="modal" data-dismiss="modal" data-target="#actionSeniorManager">No</button>
        </div>
        </div>
    </div>
</div>

    <!-- Move Manager Modal -->
<div class="modal fade" id="moveManager" tabindex="-1" role="dialog" aria-labelledby="removeManager" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLabel">Manage Manager</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group my-auto">
                <label for="text1" *ngIf="selectedNewManagerGroup">Do you really want to Move {{ selectedManager.name }} from {{ selectedManagerGroup.name }} to {{selectedNewManagerGroup.name}}?</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" (click)="selectNewManagerGroup()" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-carrot radius-5" data-toggle="modal" data-dismiss="modal" data-target="#actionSeniorManager">No</button>
        </div>
        </div>
    </div>
</div>