.actionmanage {
    color: #156fca !important; 
}

.actioncarrot {
    color: #e95321  !important; 
}

.carrotLeft{
    color: #ff5722 !important;
}

/* managersComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .managers {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: .3em 0;
    width: 15em;
  }
  .managers li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 1em;
    /* padding: .3em 0; */
    height: 1.6em;
    border-radius: 4px;
  }
  .managers li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .managers li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .managers .text {
    position: relative;
    top: -3px;
  }
  .managers .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .crop {
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}