<!-- Begin page content -->
<main role="main" class="container">
  <h2 class="mt-4 pl-0 text-grey ml-0">REGISTER</h2>
</main>

<section class="mini-dashboard mt-4 mb-4">
  <div class="container search-box pb-4">
    <div class="row d-flex">
      <div class="text-center col-md-12">
        <form autocomplete="off" class="form-signup">
          <img class="mt-5 mb-4 rounded-circle" src="../../assets/img/mc-icon-carrot.png" alt="" width="72" height="72">
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input #name id="name" name="name" type="text" class="form-control here" placeholder="Name" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input #email id="email" name="email" type="text" class="form-control here" placeholder="Email address" required="" autofocus="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dob">Date of birth</label>
                <input #dob id="dob" name="dob" type="date" class="form-control here" placeholder="Date of birth" required="">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="joinDate">Join date</label>
                  <input #joinDate id="joinDate" name="joinDate" type="date" class="form-control here" placeholder="Join date" required="">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="role">Role</label>
                <select #role id="role" name="role" class="form-control here" >
                  <option value={{Constanta.EMPLOYEE_ROLE}}>{{Utility.getRole(Constanta.EMPLOYEE_ROLE)}}</option>
                  <option value={{Constanta.MANAGER_ROLE}}>{{Utility.getRole(Constanta.MANAGER_ROLE)}}</option>
                </select>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="supervisor">Supervisor</label>
                <input #supervisor id="supervisor" name="supervisor" type="text" class="form-control here" placeholder="Supervisor id" required="" value="">
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input #password id="password" name="password" type="password" class="form-control here" placeholder="Password" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="joinDate">Confirm Password</label>
                <input #cpassword id="cpassword" name="cpassword" type="password" class="form-control here" placeholder="Confirm Password" required="">
              </div>
            </div>
          </div>

          <p style="color: red" >{{errMsg}}</p>

          <!-- <a routerLink="/employee" class="btn btn-block btn-primary radius-5 mt-5 mb-4" onclick="login()">Sign in</a> -->
          <input (click)="signUp(
              name.value, email.value, dob.value, joinDate.value, role.value, password.value, cpassword.value
            )" class="btn btn-block btn-primary radius-5 mt-5 mb-4" value="Sign up"/>

          <!-- <a routerLink="/employee" class="btn btn-block btn-primary radius-5 mt-5 mb-4" onclick="login()">Sign up</a> -->
          <input routerLink="/login" class="btn btn-block btn-link radius-5" value="Login"/>
        </form>
      </div>
    </div>
  </div>
</section>