<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">REACHED-TARGET SOCIAL FOUNDATION LIST</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-progress-spinner *ngIf="loadingSocial"
                                class="text-center m-auto"
                                color="warn"
                                mode="indeterminate" >
                                </mat-progress-spinner> 
                                <table id="social-table" class="table table-hover mt-3" datatable [dtOptions]="dtOptionsSocial" [dtTrigger]="dtTriggerSocial">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Current Carrot</th>
                                                <th scope="col">Target Carrot</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody >       
                                            <tr *ngFor="let content of social">
                                                <td>{{content.name}}</td>
                                                <td>{{content.currentCarrot}}</td>
                                                <td>{{content.carrot}}</td>
                                                <td><a class="btn btn-success" (click)="approveSocial(content)">Approve</a></td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>