<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">ADMIN LIST</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-progress-spinner *ngIf="loadingAdmin"
                                class="text-center m-auto"
                                color="warn"
                                mode="indeterminate" >
                                </mat-progress-spinner> 
                                <table id="admin-table" class="table table-hover mt-3" datatable [dtOptions]="dtOptionsAdmin" [dtTrigger]="dtTriggerAdmin">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>       
                                        <tr *ngFor="let user of admin">
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td><a class="btn btn-danger" (click)="revoke(user)">Revoke</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
